:root {
    /* background color site */
    --background-color: linear-gradient(
        0deg,
        #241f24 0%,
        rgba(91, 91, 91, 0.45) 34%,
        rgba(187, 186, 192, 0.26) 63%
    );
    --background-color-hover: linear-gradient(
        0deg,
        #241f24 1%,
        rgba(91, 91, 91, 0.26) 7%,
        rgba(187, 186, 192, 0) 12%
    );
    --light-background-color: #ffffff;
    --medium-background-color: #e0e0e0;
    --medium-background-color-50: rgba(224, 224, 224, 0.5);

    /* text color site */
    --light-text-color: #ffffff;
    --dark-text-color: #000000;
    --gray-text-color: #e0e0e0;

    /* star color site */
    --icon-color: #4f4f4f;
}

/* font family */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.delius-unicase-regular {
    font-family: "Delius Unicase", cursive;
    font-weight: 400;
    font-style: normal;
}
.delius-unicase-bolt {
    font-family: "Delius Unicase", cursive;
    font-weight: 700;
    font-style: normal;
}

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    color: var(--dark-text-color);
    background: var(--light-background-color);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
    padding-top: 40px;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 135px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.title {
    font-size: 36px;
}

/* list styles */
.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 370px;
    gap: 30px;
}
.list-item {
    position: relative;
    border-radius: 20px;
    background-color: var(--background-color);
    overflow: hidden;
}
.list-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.list-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--light-text-color);
}
.list-date {
    font-size: 20px;
    color: var(--gray-text-color);
}
.list-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--background-color);
}

/* header styles */
.header {
    font-size: 40px;
    padding-top: 15px;
}

/* architectural styles */
.architectural {
    padding-top: 60px;
}
.architectural-item:nth-child(2) {
    grid-column: span 2;
}
.architectural-item:nth-child(3) {
    grid-column: span 2;
}
.architectural-item:nth-child(6) {
    grid-column: span 2;
}
/* Tablet */
/* @media (max-width: 900px) {
    .architectural-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .architectural-item:nth-child(2),
    .architectural-item:nth-child(3),
    .architectural-item:nth-child(6) {
        grid-column: span 2;
    }
} */
/* Mobile */
/* @media (max-width: 600px) {
    .architectural-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .architectural-item:nth-child(2),
    .architectural-item:nth-child(3),
    .architectural-item:nth-child(6) {
        grid-column: span 1; 
    }
} */

/* still-life styles */
.still-life {
    padding-top: 120px;
}
.still-life-item:nth-child(2) {
    grid-column: span 2;
}
.still-life-item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}
.still-life-item:nth-child(4) {
    grid-row: span 2;
}
.still-life-item:nth-child(5) {
    grid-column: span 2;
}

/* portrait styles */
.portrait {
    padding-top: 120px;
    padding-bottom: 120px;
}
.fashion-item:nth-child(2) {
    grid-row: span 2;
}
.fashion-item:nth-child(5) {
    grid-row: span 2;
}
.fashion-item:nth-child(6) {
    grid-row: span 2;
}
.fashion-item:nth-child(8) {
    grid-column: span 2;
}
.portrait-item:nth-child(9) {
    grid-column: span 2;
}
